body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

nav a {
    background: rgba(207, 191, 122, 0.3);
    padding: 0px 10px;
    color: darkred;
  }

  figcaption {
    font-size: 0.9rem;
    text-align: center;
  }

  #featured-property p {
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  #details div {
    float: left;
    text-align: center;
    width: 25%;
    font-size: 0.9rem;
    background: lightgrey;
  }